/* Simple Bitcoin Faucets */

.sbf_hidden{
	display:none;
}

.sbf_button{
	font-weight: bold;
}

.sbf_edit{
	width:100px;
}
.sbf_edit_score{

}
.sbf_edit_faucet{

}

.sbf_edit_pair{

}

.sbf_delete_pair{

}

.sbf_add_pair{
float: right;
}

.sbfg_sf_table{
	border: 2px outset;
	display: inline-block;
}

.sbfg_sf_table_header{
	border: 0px outset;
	font-weight: bold;
	text-align: center;
	font-size:120%;
}

.sbfg_sf_table_header_field{
	width:100px;
	display: inline-block;
	border: 0px dotted red;
}

.jconfirm-content , .jconfirm-title {
	color:black;
}

.vp_trof_must_save {
	background:red;
	color:yellow;
	display:none;
	padding:10px;
	position:fixed;
	font-size: large;
	left:200px;
	top:50px;
}

.sbfg_global_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 26px solid yellow;
  border-right: 26px solid green;
  border-bottom: 26px solid blue;
  border-left: 26px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;  
  z-index: 99;
}

.sbfg_local_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 13px solid yellow;
  border-right: 13px solid green;
  border-bottom: 13px solid blue;
  border-left: 13px solid red;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative; /* in block */
  top: 50%;
  left: 50%;  
  z-index: 99;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

